.photos-parent {
  position: relative;
  width: 100%;
  border: 2px solid #000;
}
.photos-parent .child {
  box-sizing: border-box;
  border: 1px solid #c7c7c7;
  overflow: hidden;
}
.photos-parent .child input {
  position: absolute;
  left: 0;
  z-index: 1000;
}
.photos-parent .child .child-container {
  width: 100%;
  height: 100%;
}
.photos-parent .child .child-container img {
  width: 100%;
  height: 100%;
}
.photos-parent .child1 {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15%;
  height: 15%;
}
.photos-parent .child2 {
  position: absolute;
  top: 5px;
  left: calc(15% + 15px);
  width: 15%;
  height: 15%;
}
.photos-parent .child3 {
  position: absolute;
  top: 5px;
  right: 5px;
  width: calc(70% - 30px);
  height: calc(50% - 10px);
}
.photos-parent .child4 {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: calc(50% - 10px);
  height: calc(50% - 10px);
}
.photos-parent .child5 {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: calc(50% - 10px);
  height: calc(50% - 10px);
}

.modal-calculation-new {
  position: fixed;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  width: 800px;
  top: 20px;
  left: 20px;
  z-index: 1001;
}
.modal-calculation-new .fixed-rows-top {
  background-color: #ffffff;
  position: sticky;
  top: 0px;
}
.modal-calculation-new .window-content {
  height: 600px;
  overflow-y: scroll;
}
.modal-calculation-new .fixed-tfooter {
  background-color: #ffffff;
  z-index: 101;
  border-top: 2px solid #cccccc;
  position: sticky;
  bottom: 0;
}
.modal-calculation-new .window-header {
  cursor: move;
  padding: 3px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #cccccc;
  text-align: center;
}
.modal-calculation-new .window-grip-left {
  width: 25px;
  background-color: #f0f0f0;
}
.modal-calculation-new .window-droptable {
  background-color: #f0f0f0;
  cursor: move;
  text-align: center;
}
.modal-calculation-new th:first-child, .modal-calculation-new td:first-child {
  border-left: 1px solid #cccccc;
}
.modal-calculation-new tr:first-child {
  border-top: 1px solid #cccccc;
}
.modal-calculation-new #containerFot {
  transition: max-height 1.5s ease-out;
  max-height: 800px;
}
.modal-calculation-new #containerFot.collapsed {
  max-height: 0;
  height: 0;
}
.modal-calculation-new table {
  display: grid;
  grid-template-columns: 1fr 90px 90px 90px 90px 90px 1fr 1fr;
  transition: max-height 0.5s ease-out;
  max-height: 800px;
}
.modal-calculation-new table input {
  width: 100%;
  text-align: right;
  padding: 0;
}
.modal-calculation-new table textarea {
  width: 100%;
  border: none;
  padding: 2px;
  resize: vertical;
}
.modal-calculation-new table .btn-chek-list {
  height: 100%;
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
}
.modal-calculation-new table thead, .modal-calculation-new table tbody, .modal-calculation-new table tfoot, .modal-calculation-new table tr {
  display: contents;
}
.modal-calculation-new table th, .modal-calculation-new table td {
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: #ffffff;
}
.modal-calculation-new table th div, .modal-calculation-new table td div {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.modal-calculation-new table.materials-list .column-5-7 {
  grid-column: 5/span 7;
}
.modal-calculation-new table.collapsed {
  max-height: 0;
  height: 0;
}
.modal-calculation-new .window-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal-calculation-old {
  position: fixed;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  top: 250px;
  left: 100px;
  z-index: 1001;
}
.modal-calculation-old .fixed-rows-top {
  background-color: #ffffff;
  position: sticky;
  top: 0px;
}
.modal-calculation-old .window-content {
  height: 600px;
  overflow-y: auto;
}
.modal-calculation-old .fixed-tfooter {
  background-color: #ffffff;
  z-index: 101;
  border-top: 2px solid #cccccc;
  position: sticky;
  bottom: 0;
}
.modal-calculation-old .window-header {
  cursor: move;
  padding: 3px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #cccccc;
  text-align: center;
}
.modal-calculation-old .window-grip-left {
  width: 25px;
  background-color: #f0f0f0;
}
.modal-calculation-old .window-droptable {
  background-color: #f0f0f0;
  cursor: move;
  text-align: center;
}
.modal-calculation-old th:first-child, .modal-calculation-old td:first-child {
  border-left: 1px solid #cccccc;
}
.modal-calculation-old tr:first-child {
  border-top: 1px solid #cccccc;
}
.modal-calculation-old table {
  display: grid;
  grid-template-columns: 200px 90px 90px 90px auto;
}
.modal-calculation-old table input {
  width: 100%;
  text-align: right;
  border: none;
  padding: 0;
}
.modal-calculation-old table textarea {
  width: 100%;
  border: none;
  padding: 2px;
  resize: vertical;
}
.modal-calculation-old table .comment {
  grid-column: 2/span 4;
}
.modal-calculation-old table thead, .modal-calculation-old table tbody, .modal-calculation-old table tfoot, .modal-calculation-old table tr {
  display: contents;
}
.modal-calculation-old table th, .modal-calculation-old table td {
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.modal-calculation-old table th div, .modal-calculation-old table td div {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.modal-calculation-old .window-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dropdown-fabric-menu {
  width: 450px;
}
.dropdown-fabric-menu .dropdown-fabric-menu-content table {
  display: grid;
  grid-template-columns: auto 1fr;
}
.dropdown-fabric-menu .dropdown-fabric-menu-content tbody, .dropdown-fabric-menu .dropdown-fabric-menu-content tr {
  display: contents;
}
.dropdown-fabric-menu .dropdown-fabric-menu-content td {
  border: 1px solid #e3e3e3;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14px;
}

body {
  height: 105%;
}

.product-buttons {
  position: sticky;
  top: 0px;
  z-index: 100;
  padding: 10px 0;
  background-color: #fff;
}

.label-show-history {
  background-color: #49ff00;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  right: 2px;
  top: 2px;
  cursor: pointer;
}

.alert-production-canvas {
  margin-top: 15px;
  font-size: 35px;
  font-weight: bold;
}

.chosen-container {
  width: 100% !important;
}

.file-upload-label {
  height: 500px;
}
.file-upload-label .upload-icon {
  margin-top: 175px;
}

.table-cell-header, .table-header-size {
  font-weight: bold !important;
  text-align: left !important;
  vertical-align: middle !important;
}

.table-cell-value, .table-body-size {
  text-align: center !important;
  vertical-align: middle !important;
}
.table-cell-value textarea, .table-cell-value input, .table-cell-value select, .table-body-size textarea, .table-body-size input, .table-body-size select {
  text-align: center !important;
  vertical-align: middle !important;
}

.control-panel-1-btn {
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 4px;
  display: grid;
  cursor: pointer;
}

.btn-add-image {
  height: 32px;
  border: none;
  padding: 0;
  margin: 0 2px;
}
.btn-add-image img {
  border: 2px solid #b9b9b9;
  height: 100%;
}

.btn-add-image {
  width: 45px;
  height: 32px;
  background: none;
  border: 3px solid #d2d2d2;
  position: relative;
}
.btn-add-image div {
  position: absolute;
  height: 12px;
  width: 18px;
  background-color: #759dc7;
}

.btn-add-image-small div {
  height: 6px;
  width: 9px;
}

.image-uploaded {
  background-color: #d6d6d6;
}

.btn-add-image-1 div {
  left: 1px;
  top: 1px;
}

.btn-add-image-2 div {
  left: 12px;
  top: 1px;
}

.btn-add-image-3 div {
  left: 1px;
  top: 8px;
}

.btn-add-image-4 div {
  right: 1px;
  top: 1px;
}

.btn-add-image-5 div {
  left: 1px;
  bottom: 1px;
}

.btn-add-image-6 div {
  right: 1px;
  bottom: 1px;
}

.btn-set-default-values {
  color: #6c757d;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.btn-set-default-values:hover {
  color: #2d2d2d;
}

.table-history-data {
  display: grid;
  grid-template-columns: auto 1fr;
}
.table-history-data thead, .table-history-data tbody, .table-history-data tfoot, .table-history-data tr {
  display: contents;
}
.table-history-data th, .table-history-data td {
  max-width: 500px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  white-space: nowrap;
}/*# sourceMappingURL=product.css.map */