staticfiles/
.env
.env/
/.env
env
.venv
.idea
*.sqlite3
__pycache__/

# html_offline/*.js
# html_offline/**
# html_offline/**/*.js
html_offline
# !html_offline/**/*.js


fake_api.js
fake_api_client.js
*/fake_api_client.js
fake*
qr_code.py
test/
**/.DS_Store

*/utils/fake_api_client.js
*/static/templates/*
*/bitrix_serial_products/bitrix-serial-products/static/templates/*
bitrix_serial_products/bitrix-serial-products/static/templates/*