<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'scripts/libs/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'scripts/libs/bootstrap/font/bootstrap-icons.min.css' %}">
    
    <link href="{% static 'scripts/libs/chosen_v1.8.7/chosen.min.css' %}" rel="stylesheet">
    <link href="{% static 'styles/index.css' %}" rel="stylesheet">
    
    <script src="//api.bitrix24.com/api/v1/"></script>

    <script>
        let portalUrl = "{{ portal_url }}";
    </script>

    <title>Поточные изделия</title>
</head>
<body id="containerApp">
    <div id="elemWaitingLoader" class="mt-5 d-flex justify-content-center">
        <p class="fs-2">Загрузка приложения ...</p>
        <div class="ms-3 spinner-border" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Загрузка приложения...</span>
        </div>
    </div>

    <div id="elemAppData" class="app-container text-center h-100 d-none">
        <div class="col permission" id="editPermission">
            <div class="d-flex flex-column mb-3">
                <!-- <label for="" class="form-label text-start w-100 fw-bolder">&nbsp;</label> -->
                <div class="btn-group btn-group-sm">
                    <button type="button" id="btnEditPermission" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#permissionModal">Права доступа</button>
                </div>
            </div>
        </div>
        <div class="row my-3 product-buttons">
            <div class="col">
                <button type="button" id="filterSofa" data-type="sofa" data-type-id="158" class="btn btn-secondary w-75 filter-sofa">Диван</button>
            </div>
            <div class="col">
                <button type="button" id="filterArmchair" data-type="armchair" data-type-id="165" class="btn btn-secondary w-75 filter-armchair">Кресло</button>
            </div>
            <div class="col">
                <button type="button" id="filterBed" data-type="bed" data-type-id="189" class="btn btn-secondary w-75 filter-bed">Кровать</button>
            </div>
            <div class="col">
                <button type="button" id="filterPouf" data-type="pouf" data-type-id="167" class="btn btn-secondary w-75 filter-pouf">Пуф</button>
            </div>
            <div class="col">
                <button type="button" id="filterMsp" data-type="msp" data-type-id="172" class="btn btn-secondary w-75 filter-msp">МСП</button>
            </div>
            <div class="col">
                <button type="button" id="filterNightstand" data-type="nightstand" data-type-id="188" class="btn btn-secondary w-75 filter-nightstand">Тумбочка</button>
            </div>
            <div class="col">
                <button type="button" id="filterTable" data-type="table" data-type-id="186" class="btn btn-secondary w-75 filter-table">Стол</button>
            </div>
            <div class="col">
                <button type="button" id="filterChair" data-type="chair" data-type-id="150" class="btn btn-secondary w-75 filter-chair">Стул</button>
            </div>
            <div class="col">
                <button type="button" id="filterMelochevka" data-type="melochevka" data-type-id="162" class="btn btn-secondary w-75 filter-melochevka">Другое</button>
            </div>
        </div>
        <div class="d-flex">
            <!-- <div class="flex-grow-1 input-group mb-3 me-3">
                <span class="input-group-text" id="">🔍</span>
                <input type="text" id="inputFilter" class="form-control form-control-sm" placeholder="Введите данные для поиска" aria-label="Поле для фильтрации" aria-describedby="">
            </div> -->
            <div class="d-flex flex-grow-1 h-100 me-1">
                <div id="filterContainer" class="d-flex flex-grow-1 h-100 me-1"></div>
                <button id="btnFilter" type="submit" class="btn btn-primary">Найти</button>
            </div>
            <div id="paginationContainer"></div>
        </div>
        <div class="row app-products">
            <div>
                <div class="app-products-container">
                    <div class="app-product-buttons">
                        <div class="mb-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item dropdown app-button-add-product  dropend">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                        Д<br>О<br>Б<br>А<br>В<br>И<br>Т<br>Ь
                                    </a>
                                    <ul class="dropdown-menu" id="addProductContainer">
                                        <li><a class="dropdown-item" style="cursor: pointer;" id="openSofaWindow" data-type="sofa" data-smart-type-id="158" data-product-type="sofa">Диван</a></li>
                                        <li><a class="dropdown-item" style="cursor: pointer;" id="openArmchairWindow" data-type="armchair" data-smart-type-id="165" data-product-type="armchair">Кресло</a></li>
                                        <li><a class="dropdown-item" style="cursor: pointer;" id="openBedWindow" data-type="bed" data-smart-type-id="189" data-product-type="bed">Кровать</a></li>
                                        <li><a class="dropdown-item" style="cursor: pointer;" id="openPoufWindow" data-type="pouf" data-smart-type-id="167" data-product-type="pouf">Пуф - банкетка</a></li>
                                        <li><a class="dropdown-item" style="cursor: pointer;" id="openMspWindow" data-type="msp" data-smart-type-id="172" data-product-type="msp">МСП</a></li>
                                        <li><a class="dropdown-item" style="cursor: pointer;" id="openNightstandWindow" data-type="nightstand" data-smart-type-id="188" data-product-type="nightstands">Тумбочка</a></li>
                                        <li><a class="dropdown-item" style="cursor: pointer;" id="openTableWindow" data-type="table" data-smart-type-id="186" data-product-type="table">Стол</a></li>
                                        <li><a class="dropdown-item" style="cursor: pointer;" id="openChairWindow" data-type="chair" data-smart-type-id="150" data-product-type="chair">Стул</a></li>
                                        <li><a class="dropdown-item" style="cursor: pointer;" id="openMelochevkaWindow" data-type="melochevka" data-smart-type-id="162" data-product-type="melochevka">Другое</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row row-cols-1 row-cols-md-5 g-4 app-products-cards" id="productCardsContainer"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно с правами доступа -->
    <div class="modal" id="permissionModal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Управление правами доступа</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="permission-container">
                    <div class="container">
                        <div class="deal-buttons-control">
                            <h3>Список пользователей имеющих доступ к приложению</h3>
                            <table class="table table-bordered" id="tableUserAccessForAppUpload">
                                <thead class="table-light">
                                    <tr>
                                        <th>Список пользователей</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <button id="saveChangeUsersAccessForAppUpload" type="button" class="btn btn-success mb-3">Сохранить изменения</button>
                        </div>
                        <div class="deal-buttons-control">
                            <h3>Список пользователей имеющих доступ к блоку ФОТ</h3>
                            <table class="table table-bordered" id="tableUserAccessForCalcFot">
                                <thead class="table-light">
                                    <tr>
                                        <th>Список пользователей</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <button id="saveChangeUsersAccessForCalcFot" type="button" class="btn btn-success mb-3">Сохранить изменения</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>

    <script src="{% static 'scripts/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'scripts/libs/jquery/jquery-3.6.0.min.js' %}"></script>

    <script type="module" src="{% static 'scripts/libs/chosen_v1.8.7/docsupport/jquery-3.2.1.min.js' %}"></script>
    <script type="module" src="{% static 'scripts/libs/chosen_v1.8.7/chosen.jquery.min.js' %}"></script>

    <script type="module" src="{% static 'scripts/index.js' %}"></script>

</body>
</html>
